body {
  background-image: url("../img/backBlack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: calibri;
  direction: rtl;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
  /* חשוב */
}

@media (max-width: 1200px) {
  body {
    overflow:auto;
    background-size: auto 100%;
    background-position: center top;
  }
}

/*גלריה- תפריט*/
#container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

#container>div {
  flex: 1;
  min-width: 250px;
}

div.gallery img {
  width: 65%;
  height: auto;
  background-color: white;
}

div.gallery img:hover {
  background-color: transparent;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

* {
  box-sizing: border-box;
}

.responsive {
  margin-top: 8%;
  padding: 0 4px;
  flex-wrap: wrap;
  float: left;
  width: 30%;
  margin-left: 0px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* למסכים צרים */
@media (max-width: 1150px) {
  .responsive {
    margin-top: 8%;
    padding: 0 4px;
    width: 15%;
    margin-left: 0px;
  }

  #candies {
        margin-left: 100px;

    width: 100%;
  }

  #totalScore {
    visibility: hidden;
  }

  #container {
    flex-direction: column;
    display:block;
  }

  #container>div {
    width: 100%;
  }
}
/* the game*/
h1 {
  margin-top: 20px;
  color: #fff;
  text-shadow: 2px 2px #555;
}

#ui {
  margin: 10px;
  font-size: 18px;
  color: #353333;
}

#board {
  direction: ltr;
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 2px;
  margin: 0 auto;
  width: max-content;
  border: 4px solid #444242;
  background-color: rgb(248, 223, 248);
  padding: 4px;
  border-radius: 8px;
}

.square {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: grab;
  transition: transform 0.2s ease;
  background-color: #9b9b9b;
}

.candy-img {
  width: 115%;
  height: 115%;
  object-fit: contain;
  pointer-events: none;
}

.square.matching {
  animation: flash 0.4s ease-in-out 2;
}

@keyframes flash {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    background-color: white;
  }

  100% {
    transform: scale(1);
  }
}

#score,
#moves,
#level,
#highscore {
  display: inline-block;
}

#resetBtn,
.yesORno {
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: #f67280;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btnBackground {
  margin-top: 10px;
  margin-right: 20px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn {
  background-color: #f67280;
  color: white;
  padding: 16px 12px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  min-width: 65px;
}

.btn:hover {
  background-color: transparent;
}

.overlay {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  right: 5%;
  top: 0;
  overflow-x: visible;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
}

/* כברירת מחדל – האייקון מוסתר */
#menuIcon {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  z-index: 1;
  cursor: pointer;
}


/* כשמסך קטן מ-768px – מחביאים את כפתורי התפריט ומראים את האייקון ☰ */
@media screen and (max-width: 1000px) {
  .overlay {
    z-index: -1;
  }

  .overlay-content {
    display: none;
  }

  #menuIcon {
    display: block;   
    z-index: 2;
  }

  .overlay.show {
    z-index: 1;
  }

  .overlay.show .overlay-content {

    display: block;
  }
}

/*end menu*/


#enter2 {
  margin-top: 15%;
  margin-inline: 20%;
  border: 2px solid #777;
  font-size: 1.7vw;
  padding: 2%;
}

#overlay2 h2 {
  margin-top: 7%;
  margin-bottom: 20px;
  color: #f67280;
  font-weight: bold;
}

#Instructions {
  margin-top: 25%;
  margin-inline: 1222px;
  border: 2px solid #777;
  font-size: 20px;

  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: brightness(150%);
  backdrop-filter: brightness(250%);
  padding: 90px;
  margin: 30px;
  font-weight: bold;
}

.timer {
  font-family: Aharoni;
  font-size: 7.2vw;
  position: absolute;
  top: 3%;
  right: 86%;
}

#totalScore {
  background-color: #f67280;
  width: 200px;
  padding: 12px 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(233, 152, 129, 0.8), 0 0 30px rgba(233, 152, 129, 0.5);
  transition: all 0.3s ease-in-out;
  border: none;
}

#totalScore:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 40px rgba(233, 152, 129, 1);
  transform: scale(1.05);
}

#overlay2 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2vw;
  padding: 2%;
  color: white;
  border: 2px solid #777;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*return*/
.backgroundMessage {
  background-color: #000000d1;
  color: #fff;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;

  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.message {
  width: 30%;
  background-color: white;
  background-color: white;
  color: black;
  border-radius: 10%;
}

#yes {
  position: absolute;
  right: 44.5%;
}

#no {
  position: absolute;
  right: 51.5%;
}

.btnYesOrNo {
  border: 2px solid black;
  background-color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: #e99881;
  color: black;
  font-family: 'Segoe UI';
  border-radius: 5px;
  width: 5%;
  border-color: #52e0d3;
}

.btnYesOrNo:hover {
  background-color: #52e0d3;
  color: white;
}

